In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("yellow_tripdata_2023-03.parquet")

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2023-03-01 00:06:43,2023-03-01 00:16:43,1.0,0.00,1.0,N,238,42,2,8.6,1.0,0.5,0.00,0.0,1.0,11.10,0.0,0.00
1,2,2023-03-01 00:08:25,2023-03-01 00:39:30,2.0,12.40,1.0,N,138,231,1,52.7,6.0,0.5,12.54,0.0,1.0,76.49,2.5,1.25
2,1,2023-03-01 00:15:04,2023-03-01 00:29:26,0.0,3.30,1.0,N,140,186,1,18.4,3.5,0.5,4.65,0.0,1.0,28.05,2.5,0.00
3,1,2023-03-01 00:49:37,2023-03-01 01:01:05,1.0,2.90,1.0,N,140,43,1,15.6,3.5,0.5,4.10,0.0,1.0,24.70,2.5,0.00
4,2,2023-03-01 00:08:04,2023-03-01 00:11:06,1.0,1.23,1.0,N,79,137,1,7.2,1.0,0.5,2.44,0.0,1.0,14.64,2.5,0.00

In [4]:
print(len(df.columns))
len(df)

19

3403766

In [5]:
type(df['tpep_pickup_datetime'])

pandas.core.series.Series

In [6]:
df['duration'] = (
    df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
).dt.total_seconds() / 60

std_duration = df['duration'].std()
print(std_duration)

43.79457870013612

In [7]:
df = df[(df.duration >= 1) & (df.duration <= 60)]
len(df)

3316216

In [8]:
print(3316216/3403766)

0.9742784903545073

In [9]:
categories = ['PULocationID', 'DOLocationID']
df[categories] = df[categories].astype(str)

In [10]:
train_dict = df[categories].to_dict(orient="records")
train_dict[:7]

[{'PULocationID': '238', 'DOLocationID': '42'},
 {'PULocationID': '138', 'DOLocationID': '231'},
 {'PULocationID': '140', 'DOLocationID': '186'},
 {'PULocationID': '140', 'DOLocationID': '43'},
 {'PULocationID': '79', 'DOLocationID': '137'},
 {'PULocationID': '162', 'DOLocationID': '137'},
 {'PULocationID': '170', 'DOLocationID': '48'}]

In [11]:
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer()
X = dv.fit_transform(train_dict)
X.shape

(3316216, 518)

In [12]:
from sklearn.linear_model import LinearRegression

y = df['duration'].values
lr = LinearRegression()
lr.fit(X, y)

LinearRegression()

In [13]:
y_pred = lr.predict(X)
y_pred[:7]

array([16.67206424, 28.66809736, 12.53343399, 12.68660093, 10.44652797,
       11.21840261, 13.30738145])

In [14]:
from sklearn.metrics import mean_squared_error
import numpy as np

rmse = np.sqrt(mean_squared_error(y, y_pred))
rmse

8.158679488988714

3月rmse是8.158679488988714

In [15]:
df_2 = pd.read_parquet("yellow_tripdata_2023-02.parquet")
len(df_2.columns)

19

In [15]:
df_2['duration'] = (
    df_2['tpep_dropoff_datetime'] - df_2['tpep_pickup_datetime']
).dt.total_seconds() / 60

NameError: name 'df_2' is not defined